# 作業

## 1. a038. 數字翻轉
https://zerojudge.tw/ShowProblem?problemid=a038

In [ ]:
'0'
'01'

In [2]:
### ValueError
int('')

ValueError: invalid literal for int() with base 10: ''

In [3]:
int('1')

1

### 解法
* for loop
* slicing
* reverse

In [23]:
a = [1, 2, 3, 4, 5]

In [40]:
# 作法 1 for loop
tmp = a[0]
a[0] = a[-1]
a[-1] = tmp

tmp = a[1]
a[1] = a[-2]
a[-2] = tmp

a

[1, 2, 3, 4, 5]

In [25]:
# 作法 2

In [29]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [37]:
# 作法2 slicing
a[::-1]

[5, 4, 3, 2, 1]

In [38]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [39]:
# 作法 3
a.reverse()

In [35]:
a

[5, 4, 3, 2, 1]

## 2. k860. 重複數字
https://zerojudge.tw/ShowProblem?problemid=k860

### 使用 count 的問題

In [45]:
a = [1, 1, 2]

In [46]:
a.count(1, 0, 1)

TypeError: list.count() takes exactly one argument (3 given)

上面的錯誤訊息是指函式只有一個參數, 但程式碼給了三個參數
下面舉個例

In [65]:
def c(a):
    # c 需要1個參數
    print(a)

In [53]:
c(1)

1

In [54]:
c(1, 2)

TypeError: c() takes 1 positional argument but 2 were given

# count 的用法

In [60]:
a.count(1)

2

In [61]:
a.count(1) == 2

True

In [63]:
a.count(1) == 1

False

In [64]:
if a.count(1) == 2:
    print('1 有 2 個')

1 有 2 個

In [69]:
a = [ 1, 1, 2]

for i in set(a):
    print(i)

1
2

In [70]:
set(a)

{1, 2}

## 3. k861. 驗證費氏數列
https://zerojudge.tw/ShowProblem?problemid=k861

0 1 1 2 3 5 (3 + 5)

In [88]:
nums = [0, 1, 1, 3, 4]

In [89]:
nums[0] == 0

True

In [90]:
nums[1] == 1

True

In [91]:
nums[2] == nums[0] + nums[1]

True

In [92]:
nums[3] == nums[1] + nums[2]

False

In [94]:
nums[4] == nums[2] + nums[3]

True

費式數列的第3項開始的規則
```python 
for n in ....:
   nums[n] = nums[n - 1] + nums[n-2]
```
n 是從 2 到長度 - 1

In [96]:
len(nums)

5

In [97]:
nums[4]

4

In [98]:
nums[5]

IndexError: list index out of range

In [99]:
list(range(2, 5))

[2, 3, 4]

```python 
for n in range(2, 5):
    .....
```

# 上次上課的內容

* numpy
* pandas

In [101]:
import pandas

## CSV
comma-separated values

像 ｅｘｃｅｌ　每一行用換行隔開

每一欄用 , 隔開

### Pandas 讀入 CSV

In [135]:
df = pandas.read_csv('addresses.csv',)

In [104]:
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [112]:
df = pandas.read_csv('addresses.csv', header=None)
df

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

### pandas 複寫 column 名稱

In [117]:
df.columns = ['first name', 'last name','address', 'city', 'state', 'zipcode']

In [118]:
df

,first name,last name,address,city,state,zipcode
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

###　Dataframe 取得某一欄位

In [119]:
df['first name']

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: first name, dtype: object

In [120]:
df['state']

0     NJ
1     PA
2     NJ
3     SD
4     SD
5     CO
Name: state, dtype: object

In [121]:
df['city']

0      Riverside
1          Phila
2      Riverside
3       SomeTown
4       SomeTown
5    Desert City
Name: city, dtype: object

### pandas Search
找出 city 等於 Riverside 的資料

In [122]:
df[df['city'] == 'Riverside']

      first name last name            address       city state  zipcode
0           John       Doe  120 jefferson st.  Riverside    NJ     8075
2  John "Da Man"    Repici  120 Jefferson St.  Riverside    NJ     8075

In [123]:
df['city'] == 'Riverside'

0     True
1    False
2     True
3    False
4    False
5    False
Name: city, dtype: bool

In [125]:
search_result = df[df['city'] == 'Riverside']
search_result

      first name last name            address       city state  zipcode
0           John       Doe  120 jefferson st.  Riverside    NJ     8075
2  John "Da Man"    Repici  120 Jefferson St.  Riverside    NJ     8075

In [132]:
### 新增欄位

In [129]:
df['age'] = 0

In [130]:
df

,first name,last name,address,city,state,zipcode,age
0,John,Doe,120 jefferson st.,Riverside,NJ,8075,0
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119,0
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075,0
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234,0
4,NaN,Blankman,NaN,SomeTown,SD,298,0
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123,0

In [133]:
df[df['first name'] == 'John']

  first name last name            address       city state  zipcode  age
0       John       Doe  120 jefferson st.  Riverside    NJ     8075    0

C:\Users\charlie\AppData\Local\Temp\ipykernel_2556\142507977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['first name'] == 'John']['age'] = 10

In [136]:
import pandas

In [140]:
df = pandas.read_csv('grades.csv')
df

,Last name,"""First name""","""SSN""","""Test1""","""Test2""","""Test3""","""Test4""","""Final""","""Grade"""
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0,1.0,90.0,100.0,83.0,"""A"""
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [146]:
df.columns = ['Last name', 'First name', 'SSN', 'Test1', 'Test2', 'Test3', 'Test4', 'Final', 'Grade']

In [147]:
df

,Last name,First name,SSN,Test1,Test2,Test3,Test4,Final,Grade
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0,1.0,90.0,100.0,83.0,"""A"""
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [148]:
df['total'] = df['Test1'] + df['Test2'] + df['Test3'] + df['Test4']

In [150]:
df['average'] = df['total'] / 4

In [151]:
df

,Last name,First name,SSN,Test1,Test2,Test3,Test4,Final,Grade,total,average
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-""",313.0,78.25
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+""",331.0,82.75
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C""",221.0,55.25
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-""",146.0,36.50
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-""",286.0,71.50
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-""",304.0,76.00
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F""",59.0,14.75
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+""",136.0,34.00
8,Airpump,"""Andrew""","""223-45-6789""",49.0,1.0,90.0,100.0,83.0,"""A""",240.0,60.00
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+""",242.0,60.50
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+""",185.0,46.25
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+""",107.0,26.75
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-""",212.0,53.00
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-""",221.0,55.25
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B""",51.0,12.75
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C""",81.0,20.25