# 作業

## 1. a038. 數字翻轉
https://zerojudge.tw/ShowProblem?problemid=a038

In [ ]:
'0'
'01'

In [2]:
### ValueError
int('')

ValueError: invalid literal for int() with base 10: ''

In [3]:
int('1')

1

### 解法
* for loop
* slicing
* reverse

In [23]:
a = [1, 2, 3, 4, 5]

In [40]:
# 作法 1 for loop
tmp = a[0]
a[0] = a[-1]
a[-1] = tmp

tmp = a[1]
a[1] = a[-2]
a[-2] = tmp

a

[1, 2, 3, 4, 5]

In [25]:
# 作法 2

In [29]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [37]:
# 作法2 slicing
a[::-1]

[5, 4, 3, 2, 1]

In [38]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [39]:
# 作法 3
a.reverse()

In [35]:
a

[5, 4, 3, 2, 1]

## 2. k860. 重複數字
https://zerojudge.tw/ShowProblem?problemid=k860

### 使用 count 的問題

In [45]:
a = [1, 1, 2]

In [46]:
a.count(1, 0, 1)

TypeError: list.count() takes exactly one argument (3 given)

上面的錯誤訊息是指函式只有一個參數, 但程式碼給了三個參數
下面舉個例

In [65]:
def c(a):
    # c 需要1個參數
    print(a)

In [53]:
c(1)

1

In [54]:
c(1, 2)

TypeError: c() takes 1 positional argument but 2 were given

# count 的用法

In [60]:
a.count(1)

2

In [61]:
a.count(1) == 2

True

In [63]:
a.count(1) == 1

False

In [64]:
if a.count(1) == 2:
    print('1 有 2 個')

1 有 2 個

In [69]:
a = [ 1, 1, 2]

for i in set(a):
    print(i)

1
2

In [70]:
set(a)

{1, 2}

## 3. k861. 驗證費氏數列
https://zerojudge.tw/ShowProblem?problemid=k861

0 1 1 2 3 5 (3 + 5)

In [88]:
nums = [0, 1, 1, 3, 4]

In [89]:
nums[0] == 0

True

In [90]:
nums[1] == 1

True

In [91]:
nums[2] == nums[0] + nums[1]

True

In [92]:
nums[3] == nums[1] + nums[2]

False

In [94]:
nums[4] == nums[2] + nums[3]

True

費式數列的第3項開始的規則
```python 
for n in ....:
   nums[n] = nums[n - 1] + nums[n-2]
```
n 是從 2 到長度 - 1

In [96]:
len(nums)

5

In [97]:
nums[4]

4

In [98]:
nums[5]

IndexError: list index out of range

In [99]:
list(range(2, 5))

[2, 3, 4]

```python 
for n in range(2, 5):
    .....
```

# 上次上課的內容

* numpy
* pandas

In [101]:
import pandas

## CSV
comma-separated values

像 ｅｘｃｅｌ　每一行用換行隔開

每一欄用 , 隔開

In [103]:
df = pandas.read_csv('addresses.csv',)

In [104]:
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [112]:
df = pandas.read_csv('addresses.csv', header=None)
df

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [113]:
df.columns = ['First name', '中,3, 4, 5, 6]

In [114]:
df

,1,2,3,4,5,6
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123