# 作業

## i510. 尋找子字串

In [1]:
text = 'I am batman.'
target = 'bat'

In [2]:
text[0:3] == target

False

In [3]:
text[1:1+3] == target

False

In [4]:
text[5:5+3] == target

True

In [5]:
text[5:5+3]

'bat'

In [6]:
text.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [8]:
'I am batman.'.find('bat')

5

In [23]:
text = 'aab'
target = 'ab'
# 要在 aab 裡找到 ab 的位置

In [24]:
text[0: 0 + 2]

'aa'

In [30]:
text[1: 1 + 2]

'ab'

text[1: 1+2] == target

In [28]:
text.find(target)

1

while loop 的作法
```python
i = 0
while i < len(target):
    ...
```

for loop 作法
```python
for i in range(length(target)):
    ...
```

## nc638. 天干地支

In [9]:
t = ['甲', '乙','丙','丁','戊','己','庚','辛','壬','癸']
d = ['子', '丑', '寅', '卯', '辰', '巳', '午', '未', '申', '酉', '戌', '亥']

In [11]:
t[0] + d[0]

'甲子'

In [12]:
t[1] + d[1]

'乙丑'

In [14]:
t[9] +d[9]

'癸酉'

In [18]:
t[10%10] + d[10]

'甲戌'

In [20]:
t[11 % 10] + d[11]

'乙亥'

In [22]:
t[12 % 10] + d[13 % 12]

'丙丑'

1906 是 丙午年

In [37]:
# 假設 1800 是甲子年 (不正確)

year = 2024
r = (year - 1800) % 60
r

44

In [38]:
t[r % 10] + d[r % 12]

'戊申'

## b572. 忘了東西的傑克

In [41]:
h1, m1, h2, m2, minutes = map(int, '21 00 21 15 13'.split())

In [44]:
f'{h1}點{m1}分, 公車{h2}點{m2}分到, 回家拿東西需要{minutes}分鐘'

'21點0分, 公車21點15分到, 回家拿東西需要13分鐘'

In [45]:
import datetime

In [51]:
t1 = datetime.datetime(year=2000, month=1, day=1, hour=h1, minute=m1)
t1

datetime.datetime(2000, 1, 1, 21, 0)

In [59]:
t2 = datetime.datetime(year=2000, month=1, day=1, hour=h2, minute=m2)
t2

datetime.datetime(2000, 1, 1, 21, 15)

In [60]:
delta = t2 - t1
delta

datetime.timedelta(seconds=900)

In [61]:
delta.seconds /60

15.0

# 其它

## 輸出時間, 的格式

In [65]:
import datetime
t = datetime.datetime.now()
t

datetime.datetime(2024, 4, 17, 14, 14, 41, 95092)

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

strftime = string from time

In [68]:
t.strftime('%Y')

'2024'

In [69]:
# 2024-04-27
t.strftime('%Y-%m-%d')

'2024-04-17'

In [77]:
s = '2024-04-27 12:12:12'

t2 = datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
t2

datetime.datetime(2024, 4, 27, 12, 12, 12)

In [78]:
t - datetime.timedelta(days=7)

datetime.datetime(2024, 4, 10, 14, 14, 41, 95092)

In [80]:
t - datetime.timedelta(minutes=10)

datetime.datetime(2024, 4, 17, 14, 4, 41, 95092)

In [81]:
t2 - t

datetime.timedelta(days=9, seconds=79050, microseconds=904908)

In [83]:
# 練習

## 練習1. Mobile Price Range
https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification?resource=download

In [87]:
import pandas as pd

In [90]:
price_range = pd.read_csv('mobile_price_range.csv')
price_range

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [92]:
from sklearn.model_selection import train_test_split