# 作業

## i510. 尋找子字串

In [1]:
text = 'I am batman.'
target = 'bat'

In [2]:
text[0:3] == target

False

In [3]:
text[1:1+3] == target

False

In [4]:
text[5:5+3] == target

True

In [5]:
text[5:5+3]

'bat'

In [6]:
text.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [8]:
'I am batman.'.find('bat')

5

In [23]:
text = 'aab'
target = 'ab'
# 要在 aab 裡找到 ab 的位置

In [24]:
text[0: 0 + 2]

'aa'

In [30]:
text[1: 1 + 2]

'ab'

text[1: 1+2] == target

In [28]:
text.find(target)

1

while loop 的作法
```python
i = 0
while i < len(target):
    ...
```

for loop 作法
```python
for i in range(length(target)):
    ...
```

In [250]:
while True:
    try:
        _ = input()
    except:
        break
    text, target = input().split()

## nc638. 天干地支

In [9]:
t = ['甲', '乙','丙','丁','戊','己','庚','辛','壬','癸']
d = ['子', '丑', '寅', '卯', '辰', '巳', '午', '未', '申', '酉', '戌', '亥']

In [11]:
t[0] + d[0]

'甲子'

In [12]:
t[1] + d[1]

'乙丑'

In [14]:
t[9] +d[9]

'癸酉'

In [18]:
t[10%10] + d[10]

'甲戌'

In [20]:
t[11 % 10] + d[11]

'乙亥'

In [22]:
t[12 % 10] + d[13 % 12]

'丙丑'

1906 是 丙午年

In [37]:
# 假設 1800 是甲子年 (不正確)

year = 2024
r = (year - 1800) % 60
r

44

In [38]:
t[r % 10] + d[r % 12]

'戊申'

## b572. 忘了東西的傑克

In [41]:
h1, m1, h2, m2, minutes = map(int, '21 00 21 15 13'.split())

In [44]:
f'{h1}點{m1}分, 公車{h2}點{m2}分到, 回家拿東西需要{minutes}分鐘'

'21點0分, 公車21點15分到, 回家拿東西需要13分鐘'

In [45]:
import datetime

In [51]:
t1 = datetime.datetime(year=2000, month=1, day=1, hour=h1, minute=m1)
t1

datetime.datetime(2000, 1, 1, 21, 0)

In [59]:
t2 = datetime.datetime(year=2000, month=1, day=1, hour=h2, minute=m2)
t2

datetime.datetime(2000, 1, 1, 21, 15)

In [60]:
delta = t2 - t1
delta

datetime.timedelta(seconds=900)

In [61]:
delta.seconds /60

15.0

# 其它

## 輸出時間, 的格式

In [65]:
import datetime
t = datetime.datetime.now()
t

datetime.datetime(2024, 4, 17, 14, 14, 41, 95092)

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

strftime = string from time

In [68]:
t.strftime('%Y')

'2024'

In [69]:
# 2024-04-27
t.strftime('%Y-%m-%d')

'2024-04-17'

In [77]:
s = '2024-04-27 12:12:12'

t2 = datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
t2

datetime.datetime(2024, 4, 27, 12, 12, 12)

In [78]:
t - datetime.timedelta(days=7)

datetime.datetime(2024, 4, 10, 14, 14, 41, 95092)

In [80]:
t - datetime.timedelta(minutes=10)

datetime.datetime(2024, 4, 17, 14, 4, 41, 95092)

In [81]:
t2 - t

datetime.timedelta(days=9, seconds=79050, microseconds=904908)

In [83]:
# 練習

## 練習1. Mobile Price Range
https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification?resource=download

In [87]:
import pandas as pd

In [92]:
from sklearn.model_selection import train_test_split

In [94]:
df = pd.read_csv('mobile_price_range.csv')
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [95]:
y = df['price_range']

In [96]:
x = df[df.columns[:-1]]

In [98]:
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [99]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1, test_size=0.2)

In [100]:
len(x_train)

1600

In [101]:
len(x_test)

400

In [102]:
from sklearn.svm import SVC
clf = SVC()

In [104]:
clf.fit(x_train, y_train)

SVC()

In [107]:
clf.score(x_test, y_test)

0.9425

### 試試 Regression

y = 2x^2 + 3x + 6

In [207]:
def f(x):
    return 2 * (x**2) + 3 *x + 6

In [208]:
data = [{'x': i, 'y': f(i)} for i in range(-100, 200)]

In [209]:
df = pandas.DataFrame(data)

In [210]:
df

       x      y
0   -100  19706
1    -99  19311
2    -98  18920
3    -97  18533
4    -96  18150
..   ...    ...
295  195  76641
296  196  77426
297  197  78215
298  198  79008
299  199  79805

[300 rows x 2 columns]

In [211]:
x = df[['x']]
y = df['y']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1, test_size=0.2)

## from sklearn.svm import SVR

In [237]:

r = SVR(kernel='poly', degree=2, C=100)

r.fit(x_train, y_train)

SVR(C=100, degree=2, kernel='poly')

In [238]:
r.score(x_test, y_test)

0.9999313259612795

In [245]:
f(180.5)

65708.0

In [246]:
r.predict([[180.5]])

C:\Users\charlie\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([65697.17217254])

## pandas

### Titanic

In [257]:
df = pd.read_csv('titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [264]:
# 單獨取一欄位 Series
df['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [263]:
# 單獨取一欄位輸出成 DataFrame
df[['Sex']].head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [281]:
sex_age = df[['PassengerId', 'Sex', 'Age']]
sex_age.head()

   PassengerId     Sex   Age
0            1    male  22.0
1            2  female  38.0
2            3  female  26.0
3            4  female  35.0
4            5    male  35.0

In [273]:
sex_age.groupby('Sex').Age.mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [286]:
embarked = df[['PassengerId', 'Embarked']]
embarked.columns = ['id', 'Embarked']
embarked.head()

   id Embarked
0   1        S
1   2        C
2   3        S
3   4        S
4   5        S

In [287]:
pd.merge(sex_age, embarked, left_on='PassengerId', right_on='id')

     PassengerId     Sex   Age   id Embarked
0              1    male  22.0    1        S
1              2  female  38.0    2        C
2              3  female  26.0    3        S
3              4  female  35.0    4        S
4              5    male  35.0    5        S
..           ...     ...   ...  ...      ...
886          887    male  27.0  887        S
887          888  female  19.0  888        S
888          889  female   NaN  889        S
889          890    male  26.0  890        C
890          891    male  32.0  891        Q

[891 rows x 5 columns]

In [292]:
pd.merge(sex_age, embarked.head(), left_on='PassengerId', right_on='id', how='outer')

     PassengerId     Sex   Age   id Embarked
0              1    male  22.0  1.0        S
1              2  female  38.0  2.0        C
2              3  female  26.0  3.0        S
3              4  female  35.0  4.0        S
4              5    male  35.0  5.0        S
..           ...     ...   ...  ...      ...
886          887    male  27.0  NaN      NaN
887          888  female  19.0  NaN      NaN
888          889  female   NaN  NaN      NaN
889          890    male  26.0  NaN      NaN
890          891    male  32.0  NaN      NaN

[891 rows x 5 columns]

In [293]:
pd.concat(sex_age.head(), sex_age.tail

Signature:
pd.concat(
    objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]',
    *,
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys: 'Iterable[Hashable] | None' = None,
    levels=None,
    names: 'list[HashableT] | None' = None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool | None' = None,
) -> 'DataFrame | Series'
Docstring:
Concatenate pandas objects along a particular axis.

Allows optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a mapping is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned. One exception to
    this is when the non-concatentation axis is a DatetimeIndex and join='outer'
    and the axis is not already aligned. In that case, the non-concatenation
    axis is always sorted lexicographically.
copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

It is not recommended to build DataFrames by adding single rows in a
for loop. Build a list of rows and make a DataFrame in a single concat.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']

Append a single row to the end of a ``DataFrame`` object.

>>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
>>> df7
    a   b
0   1   2
>>> new_row = pd.Series({'a': 3, 'b': 4})
>>> new_row
a    3
b    4
dtype: int64
>>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
    a   b
0   1   2
1   3   4
File:      c:\users\charlie\appdata\local\programs\python\python312\lib\site-packages\pandas\core\reshape\concat.py
Type:      function